$deleteColor : red;
$border: 1px solid #e5e5e5;

// Styling for rendered user list
.user{
    border-top: $border;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 1px; 
    background-color: #fff;
    padding: 0;
    margin: 0;
}
// Styling for delete buttons
.delete{
    margin-left: 1px; 
    cursor: pointer; 
    background-color: transparent;
    border: none;
    float: right;
    border-top: $border;
    transition-duration: 0.4s;
}
.delete:hover{
    background-color: $deleteColor;
    color: white;
}
// Styling for filter bar/search input
.filter-bar{
    margin: 20px;
    text-align: center;
}
input{
	justify-content: space-around;
	border: $border;
	padding: 4px;
    margin: 5px;
    border-radius: 4px;
}
li{
    list-style-type: none;
}